<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate" />
    <title>欢迎注册京东用户</title>
</head>
<body>
    <h1>欢迎注册京东用户</h1>
    <div>
        <!-- 如查是表单提交，则必须添加表单的元素上的name属性 -->
        <form action="/register2" method="get">
            <p><input type="text" name="username" id="" placeholder="请输入用户名"></p>
            <p><input type="text" name="address" id="" placeholder="请输入地址"></p>
            <p><input type="submit" value="提交"></p>
        </form>
    </div>
</body>
</html>