<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate" />
    <title>欢迎注册京东用户</title>
</head>
<body>
    <h1>注册用户</h1>
    <div>
        <!-- 如查是表单提交，则必须添加表单的元素上的name属性 -->
        <form action="/register" method="post">
            <p><input type="text" name="username" id="" placeholder="用户名"></p>
            <p><input type="password" name="password" id="" placeholder="密码"></p>
            <p><input type="password" name="repassword" id="" placeholder="确认密码"></p>
            <p><input type="submit" value="注册"></p>
        </form>
    </div>
</body>
</html>